<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.seblogapps.stognacci.snakegame"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"

        android:theme="@style/AppTheme">
        <activity
            android:name="com.seblogapps.stognacci.snakegame.MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.ClassicSnake"
            android:label="@string/title_activity_classic_snake"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.NoWallsSnake"
            android:label="@string/title_activity_no_walls_snake"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.BombSnake"
            android:label="@string/title_activity_bomb_snake"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.ClassicScore"
            android:label="@string/title_activity_classic_score"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.NoWallsScore"
            android:label="@string/title_activity_no_walls_score"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.seblogapps.stognacci.snakegame.BombScore"
            android:label="@string/title_activity_bomb_score"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>